# Modelo de regresión logística

# Programa o Script desarrollado por : Rolando Ortiz Herbas

In [2]:
import numpy as np
import math
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression
from decimal import Decimal, getcontext

# Lectura del Dataset de entrenamiento : Clientes_Dos_Mil_TransEntrenamiento.csv

In [3]:
getcontext().prec = 30
ruta = "C:/Users/Roland/Documents/UNAD_MEXICO_Matematicas_2022/Semestre_2024_1/ZZZ_Word_y_PT/DatosClientes/Clientes_Dos_Mil_TransEntrenamiento.csv"

df = pd.read_csv(ruta , header=0)

In [4]:
df.head()

,Ocupacion,NoPago,TotalMonto,EstadoContrato,Producto,FechaInicioC,FechaAdjudicación,FechaUltimoPago,FechaProyectadaFin,MontoVencido,...,Genero,PersonaTipo,dtEstadoContrato,GrupoOrigenVenta,SemanasAdjud,Pagos9,Domicilia_Pago,Email,timetotV,Y
0,50.0,1.169816,-0.192756,0.0,0.0,-0.166641,-0.023268,0.705376,-0.166641,-0.509295,...,1.0,0.0,0.0,0.0,0.521302,-2.017655,-0.450162,0.139169,1.153685,1
1,52.0,-0.208486,-0.543173,0.0,0.0,0.534826,1.227955,0.698809,0.534826,-0.562703,...,1.0,0.0,0.0,0.0,0.656970,-1.041528,-0.450162,0.139169,-0.266833,1
2,25.0,-1.731874,-1.536804,7.0,1.0,1.851247,1.892303,0.698950,1.851247,-0.870487,...,0.0,0.0,2.0,2.0,-0.258793,0.910727,-0.450162,0.139169,-1.911644,1
3,85.0,-0.135944,0.886252,7.0,1.0,0.534826,0.621728,0.705376,0.534826,0.180678,...,0.0,0.0,2.0,2.0,-0.224876,-0.065401,-0.450162,0.139169,-0.117305,1
4,62.0,-2.747465,-1.748252,1.0,1.0,1.830804,1.253629,-0.685136,1.830804,0.371814,...,0.0,0.0,1.0,2.0,-1.411976,-2.993783,-0.450162,0.139169,-2.285465,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Ocupacion           1600 non-null   float64
 1   NoPago              1600 non-null   float64
 2   TotalMonto          1600 non-null   float64
 3   EstadoContrato      1600 non-null   float64
 4   Producto            1600 non-null   float64
 5   FechaInicioC        1600 non-null   float64
 6   FechaAdjudicación   1600 non-null   float64
 7   FechaUltimoPago     1600 non-null   float64
 8   FechaProyectadaFin  1600 non-null   float64
 9   MontoVencido        1600 non-null   float64
 10  Mensualidad         1600 non-null   float64
 11  Ingresos            1600 non-null   float64
 12  Legal               1600 non-null   float64
 13  EdadActual          1600 non-null   float64
 14  AZULEstatus         1600 non-null   float64
 15  AdjudicaReal        1600 non-null   float64
 16  PagosPuntuales      1600 non-null   int64
 17  CostoAdmin          1600 non-null   float64
 18  Genero              1600 non-null   float64
 19  PersonaTipo         1600 non-null   float64
 20  dtEstadoContrato    1600 non-null   float64
 21  GrupoOrigenVenta    1600 non-null   float64
 22  SemanasAdjud        1600 non-null   float64
 23  Pagos9              1600 non-null   float64
 24  Domicilia_Pago      1600 non-null   float64
 25  Email               1600 non-null   float64
 26  timetotV            1600 non-null   float64
 27  Y                   1600 non-null   int64
dtypes: float64(26), int64(2)
memory usage: 350.1 KB

In [6]:
df = df.astype({col: 'float64' for col in df.select_dtypes(include='int64').columns})

# Verificar los tipos de datos
print(df.dtypes)

Ocupacion             float64
NoPago                float64
TotalMonto            float64
EstadoContrato        float64
Producto              float64
FechaInicioC          float64
FechaAdjudicación     float64
FechaUltimoPago       float64
FechaProyectadaFin    float64
MontoVencido          float64
Mensualidad           float64
Ingresos              float64
Legal                 float64
EdadActual            float64
AZULEstatus           float64
AdjudicaReal          float64
PagosPuntuales        float64
CostoAdmin            float64
Genero                float64
PersonaTipo           float64
dtEstadoContrato      float64
GrupoOrigenVenta      float64
SemanasAdjud          float64
Pagos9                float64
Domicilia_Pago        float64
Email                 float64
timetotV              float64
Y                     float64
dtype: object

# Inicializa coeficientes y lee las variables

In [7]:


B = pd.Series([0] * 30)
B0 = pd.Series([0] * 30)


X = np.array(df.iloc[:, :-1])

X1 = df.iloc[:, :-1]
#X = np.array(X1)
Y = np.array(df["Y"])

In [8]:
X1.head()

,Ocupacion,NoPago,TotalMonto,EstadoContrato,Producto,FechaInicioC,FechaAdjudicación,FechaUltimoPago,FechaProyectadaFin,MontoVencido,...,CostoAdmin,Genero,PersonaTipo,dtEstadoContrato,GrupoOrigenVenta,SemanasAdjud,Pagos9,Domicilia_Pago,Email,timetotV
0,50.0,1.169816,-0.192756,0.0,0.0,-0.166641,-0.023268,0.705376,-0.166641,-0.509295,...,0.918037,1.0,0.0,0.0,0.0,0.521302,-2.017655,-0.450162,0.139169,1.153685
1,52.0,-0.208486,-0.543173,0.0,0.0,0.534826,1.227955,0.698809,0.534826,-0.562703,...,-0.365007,1.0,0.0,0.0,0.0,0.656970,-1.041528,-0.450162,0.139169,-0.266833
2,25.0,-1.731874,-1.536804,7.0,1.0,1.851247,1.892303,0.698950,1.851247,-0.870487,...,-1.708139,0.0,0.0,2.0,2.0,-0.258793,0.910727,-0.450162,0.139169,-1.911644
3,85.0,-0.135944,0.886252,7.0,1.0,0.534826,0.621728,0.705376,0.534826,0.180678,...,-0.309597,0.0,0.0,2.0,2.0,-0.224876,-0.065401,-0.450162,0.139169,-0.117305
4,62.0,-2.747465,-1.748252,1.0,1.0,1.830804,1.253629,-0.685136,1.830804,0.371814,...,-2.517351,0.0,0.0,1.0,2.0,-1.411976,-2.993783,-0.450162,0.139169,-2.285465

In [9]:
alfa = 0.3
n = X.shape[1]
Nfilas = X.shape[0]

In [10]:

out = 0.0
for i in range(n+1):
    
    if i == 0 :
        out = B[0]
    else:
        out = out + B[i] * X[0,i-1]   
pred = 0.0        
pred = 1/(1 + math.exp(-out))

In [11]:
for i in range(n+1):
            
    if i == 0:
        B[i] = B[i] + alfa * (Y[0]- pred)*1
    else:
        B[i] = B[i] + alfa * (Y[0]- pred)*X[0,i-1]

# Inicia el aprendizaje

In [12]:
for k in range(10):
    ###  aqui realiza 10 epocas
    for j in range(0,Nfilas):
        # el indice J recorre las filas del dataset
        out = Decimal(0.0)
        for i in range(n+1):
            # el indice i recorre las columnas del dataset
            if i == 0 :
                out = Decimal(B[0])
            else:
                out = out + Decimal(B[i]) * Decimal(X[j,i-1])
        pred =Decimal(0.0)
        pred = Decimal(1/(1 + Decimal.exp(-out))) 
        for i in range(n+1):
            
            if i == 0:
                B[0] = Decimal(B[0]) + Decimal(alfa) * (Decimal(Y[j]) - Decimal(pred)) * Decimal(1.0)
            else:
                B[i] = Decimal(B[i]) + Decimal(alfa) * (Decimal(Y[j]) - Decimal(pred)) * Decimal(X[j, i-1])

# Resultado de Los coeficientes B

In [24]:
for i in range(n+1):
   
    print("B[",i,"]",f"{B[i]:10.7f}")

B[ 0 ] -67.1362633
B[ 1 ]  4.3861145
B[ 2 ] 71.1483523
B[ 3 ] 142.7103433
B[ 4 ] 27.9186901
B[ 5 ] -21.2897273
B[ 6 ] 105.5246576
B[ 7 ] 108.3319195
B[ 8 ] 201.4029514
B[ 9 ] 105.5246576
B[ 10 ] -584.4780356
B[ 11 ] 142.4934088
B[ 12 ] 85.1981358
B[ 13 ] 296.1452578
B[ 14 ] 34.0547649
B[ 15 ] 13.2231003
B[ 16 ]  5.7837660
B[ 17 ] 10.0781281
B[ 18 ] 55.4494924
B[ 19 ] -0.9151838
B[ 20 ]  2.9969803
B[ 21 ] 12.6131037
B[ 22 ] -55.3843667
B[ 23 ] -1.6175114
B[ 24 ] -10.4868370
B[ 25 ]  9.0945247
B[ 26 ] -22.5613347
B[ 27 ]  2.2014451

# Valida con el dataset de Prueba

# Lectura del dataset de prueba

In [14]:
ruta_prueba = "C:/Users/Roland/Documents/UNAD_MEXICO_Matematicas_2022/Semestre_2024_1/ZZZ_Word_y_PT/DatosClientes/Clientes_Dos_Mil_TransPrueba.csv"
df_prueba = pd.read_csv(ruta_prueba , header=0)

In [15]:
X1_prueba = df_prueba.iloc[:, :-1]
X_prueba = np.array(X1_prueba)
Y_prueba = np.array(df_prueba["Y"])

In [16]:
X1_prueba.head()

,Ocupacion,NoPago,TotalMonto,EstadoContrato,Producto,FechaInicioC,FechaAdjudicación,FechaUltimoPago,FechaProyectadaFin,MontoVencido,...,CostoAdmin,Genero,PersonaTipo,dtEstadoContrato,GrupoOrigenVenta,SemanasAdjud,Pagos9,Domicilia_Pago,Email,timetotV
0,47.0,1.169816,-0.144051,0.0,0.0,-1.462553,-0.003981,-0.021444,-1.462553,-0.870487,...,1.417600,1.0,0.0,0.0,0.0,3.607763,-0.065401,2.221423,0.139169,1.078921
1,11.0,0.879647,0.080943,0.0,0.0,-1.462553,0.602827,-0.705261,-1.462553,-0.870487,...,0.941575,0.0,0.0,0.0,3.0,4.523526,-0.065401,-0.450162,0.139169,0.779865
2,38.0,1.097274,0.232637,0.0,0.0,-1.516065,-1.287716,-0.698906,-1.516065,-0.018457,...,1.616138,0.0,0.0,0.0,0.0,1.403148,-0.065401,2.221423,0.139169,1.078921
3,87.0,0.444394,-0.821367,1.0,0.0,-1.509518,-1.939356,-1.419159,-1.509518,1.784088,...,0.651077,1.0,0.0,1.0,3.0,-0.665799,-0.065401,-0.450162,0.139169,1.004157
4,28.0,1.169816,1.200024,0.0,0.0,-1.462553,-0.636398,-0.671508,-1.462553,-0.297162,...,1.250933,1.0,0.0,0.0,3.0,2.115408,-4.946038,2.221423,0.139169,1.153685

In [17]:

np = X_prueba.shape[1]
Nfilasp = X_prueba.shape[0]
PYE = pd.Series([0] * Nfilasp)
YE = pd.Series([0] * Nfilasp)

# Evaluación de la función logística con los parametros de aprendizaje

In [18]:
for j in range(0,Nfilasp):
        out=0
        for i in range(np+1):
                if i == 0:
                        out = Decimal(out) + Decimal(B[0])*Decimal(1)
                       
                else:
                        out = Decimal(out) + Decimal(B[i]) * Decimal(X_prueba[j,i-1])
                       
        pred = 1/(1 + Decimal.exp(-out))
        
        PYE[j] = pred
        if pred > 0.5 :
                YE[j]=1
        else:
                YE[j]=0

In [23]:
Aciertos = 0
Desaciertos = 0
for j in range(0,Nfilasp):
    if int(Y_prueba[j]) == int(YE[j]):
        Aciertos =Aciertos + 1
        #print(Y_prueba[j], YE[j],PYE[j])
    else:
        Desaciertos = Desaciertos + 1
        #print(Y_prueba[j], YE[j],PYE[j])
print("===================================================================")
print ("Aciertos : ", Aciertos,"Desaciertos" ,Desaciertos)
print ("Exactitud = Aciertos /( Aciertos + Desaciertos) = ", (Aciertos /(Aciertos + Desaciertos))*100,"%")  
print("===================================================================")

===================================================================
Aciertos :  391 Desaciertos 9
Exactitud = Aciertos /( Aciertos + Desaciertos) =  97.75 %
===================================================================